body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.creativity {
  color: midnightblue !important;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.tile-image {
  width: 299.8px;
  height: 200px;
}
.left {
  width: 45%;
  float: left;
}

.right {
  width: 45%;
  float: right;
}

.left > img,
.right > img {
  float: left;
  margin-right: 50px;
}

/* responsive <681 */
@media (max-width: 680px) {
  h1 {
    text-align: center;
    font-size: 3.5rem;
  }
  .logo {
    width: 100px;
  }

  .card {
    display: block;
    width: 100%;
  }

  .tile-image {
    width: 100%;
    margin: 20px 0;
    object-fit: cover;
  }
}
